.header {
  padding: 20px 30px;
  width: 100%;
  border-bottom: 1px solid #b3b3b3;

  background: #fff;

  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-style: normal;

  &-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-logo {
    font-weight: 600;
    font-size: 24px;
    user-select: none;
    color: #2c3e50;
    letter-spacing: 1px;
    position: relative;

    span {
      position: absolute;
      bottom: -5px;
      right: -40px;
      color: #d69486;
      font-size: 18px;
    }
  }
}