.product-card {
  &__info {
    border-top: 1px solid #a1a1a1;
    margin-top: 15px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__description {
    white-space: normal;
    word-wrap: break-word;
  }

  &__price {
    font-size: 15px;
    font-weight: 600;
  }
}

.heart-icon {
  color: red;
  font-size: 25px;
  transition: transform 0.2s ease, color 0.2s ease;

  &-outlined {
    color: grey;
  }

  &:hover {
    color: red;
    transform: scale(1.2);
  }
}

.delete-icon {
  color: grey;
  font-size: 25px;
  margin-left: 5px;
  transition: color 0.2s ease, transform 0.2s ease;

  &:hover {
    color: red;
    transform: scale(1.2);
  }
}