.header {
  padding: 20px 0;
  width: 100%;

  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-style: normal;
  border-bottom: 1px solid #6e6e6e;

  &-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-logo {
    font-weight: 600;
    font-size: 24px;
    user-select: none;
    color: #2c3e50;
    letter-spacing: 1px;
  }

  &-search {
    border: none;
    border-bottom: 3px solid #7a7a7a;
    padding: 8px 12px;
    border-radius: 20px;
    width: 300px;

    &:focus {
      border-bottom: 1px solid #d1d1d1;
    }

    &-focused {
      border-bottom: 1px solid #d1d1d1;
    }
  }
}