@use './components/all';
@use './variables';
@use './libs/normalize';

* {
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
}

.wrapper {
    min-height: 100vh;
    position: relative;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1500px;
}

.container-lg {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1700px;
}

.container-sm {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1400px;
}

.container-xs {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1250px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #737373;
}

::-webkit-scrollbar-thumb {
    background: #383838;
    transition: all 10s;
}

::-webkit-scrollbar-thumb:hover {
    background: #2a2a2a;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    box-shadow: 0 0 0 30px #ffffff inset !important;
}
