@use 'components/all';
@use 'variables';
@use 'libs/normalize';

* {
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
    font-family: 'Montserrat Alternates', sans-serif;
    font-style: normal;
}

main {
    padding: 30px 30px 0 30px;
    background: #fff;
    min-height: 100vh;
}

.wrapper {
    background: rgb(255,107,252);
    background: linear-gradient(90deg, rgba(255,107,252,0.3) 0%, rgba(255,98,0,0.2) 100%);
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1250px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #737373;
}

::-webkit-scrollbar-thumb {
    background: #383838;
    transition: all 10s;
}

::-webkit-scrollbar-thumb:hover {
    background: #2a2a2a;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    box-shadow: 0 0 0 30px #ffffff inset !important;
}

.flex-between {display: flex; justify-content: space-between; align-items: center;}
